body {
  font-family: $font-main;
  color: $clr-text;
  margin: 0 auto;
  // @include debug;
}

header {
  display: grid;
  border-bottom: 1px solid $clr-qul-gray-lighter;

  h1 {
    display: none;
  }

  a {
    text-align: center;
    padding: 2rem;
  }
}

main {
  section {
    display: grid;
    padding: 2rem;
    // @include debug;

    h2 {
      color: $queens-logo-blue;
      font-size: 28px;
      font-weight: 300;
      margin-top: 0;
    }

    a.thumbnail {
      text-align: center;
      img {
        max-width: 300px;
      }
    }

    article {
      padding-right: 2rem;

      a.button {
        display: block;
        background-color: $queens-logo-blue;
        color: white;
        text-decoration: none;
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        text-align: center;
        max-width: 150px;

        &:hover {
          background-color: lighten($queens-logo-blue, 4%);
        }
      }
    }

    @include tablet {
      // grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "header header"
        "main image";

      h2 {
        grid-area: header;
      }

      article {
        grid-area: main;
      }

      a.thumbnail {
        // text-align: left;
        grid-area: image;
      }
    }

    // @include desktop {
    // }
  }
}

footer {
  display: grid;
  border-top: 1px solid $clr-qul-gray-lighter;

  a {
    width: 200px;
    justify-self: end;
    padding: 2rem;
  }
}
